main {
    /* max-width: 450px; */
    /* hello there */
    height: 100vh;
}

header {
    background-color: var(--powderBlue);
    /* max-width: 450px; */
    display: flex;
    justify-content: center;
}

.data-box {
    display: flex;
    font-size: 3rem;
    justify-content: center;
}