main {
    max-width: 450px;
    /* hello there */
}

.app-button {
    max-width: 400px;
    height: 150px;
    border: 2px solid black;
    border-radius: 25px;
    background: var(--darkBlue);
    color: white;
    cursor: pointer;
    outline: none;
    font-family: 'Julius Sans One', Sans-Serif;
    font-size: 2em;
    margin: 5px;
}

#new-break {
    background-color: var(--tealBlue);
}

#advice-section {
    font-size: 1rem;
    border: 1px solid black;
    background-color: rgb(255, 255, 255, 0.8);
    /* opacity: 0.5; */
    width: 90%;
}

#last-break-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#break-phrase {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
}

h2 {
    text-align: center;
}

.desc {
    text-align: center;
}

.timer {
    font-size: 3rem;
}

#buttons li {
    display: inline;
    padding-left: 10px;
}

.hidden {
    display: none;
}