
body {
    --black: #222222;
    --white: #FFFFFF;
    --darkBlue: #1C5D99;
    --tealBlue: #639FAB;
    --powderBlue: #BBCDE5;

    font-family: 'Monda', Sans-Serif;
    font-size: 16px;
    background-color: var(--powderBlue);
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', Sans-Serif;
    font-size: 45px;
}

.button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: var(--darkBlue);
    color: white;
    cursor: pointer;
    outline: none;
}