
body {
    --black: #222222;
    --white: #FFFFFF;
    --darkBlue: #1C5D99;
    --tealBlue: #639FAB;
    --powderBlue: #BBCDE5;
    --pink: #DA0063;

    font-family: 'Monda', Sans-Serif;
    font-size: 16px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media only screen and (max-width: 600px) {
    /* body {
        width:100vw;
    } */
    .app-container {
        width: 100%;
    }
  }
  
.app-container {
    max-width: 500px;
    /* width: 500px; */
    width: 500px;
}


  

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--powderBlue);
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', Sans-Serif;
    font-size: 45px;
}

h1 {
    padding: 0 10px 0 10px;
}


.button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: var(--black);
    color: white;
    cursor: pointer;
    outline: none;
    margin: 5px;
}

.timer {
    height: 120px;
    background-color: var(--pink);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--black);
    margin: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

header {
    background-color: var(--powderBlue);
    /* max-width: 450px; */
    display: flex;
    justify-content: center;
}

#sign-in {
    display: flex;
    flex-direction: column;
}
#sign-up {
    display: flex;
    flex-direction: column;
}